<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>基本信息</title>
    <link rel="stylesheet" href="__TMPL__/public/assets/user/lib/weui/jquery-weui.css"/>
    <link rel="stylesheet" href="__TMPL__/public/assets/user/lib/weui/weui.min.css"/>
    <link rel="stylesheet" href="__TMPL__/public/assets/user/css/public.css"/>
    <link rel="stylesheet" href="__TMPL__/public/assets/user/css/style.css"/>
    <script type="text/javascript" src="__TMPL__/public/assets/user/lib/jq/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="__TMPL__/public/assets/user/lib/weui/jquery-weui.js"></script>
    <script type="text/javascript" src="__TMPL__/public/assets/user/js/v.min.js"></script>
    <script type="text/javascript" src="__TMPL__/public/assets/user/js/common.js"></script>
</head>
<style>
    body .weui-vcode-btn.getCode.active {
        color: #ccc;
    }

    body .weui-vcode-btn.getCode {
        color: #4c7db2;
    }

    body .weui-vcode-btn {
        font-size: 1rem;
    }

    .underline {
        text-decoration: underline;
    }

    body .weui-cell__hd {
        min-width: 120px;
    }

    .btn {
        position: fixed;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, -50%);
    }
</style>
<body class="bgf7">
<section id="app" class="DetailSec">
    <div class="weui-cells">
        <form id="formData">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input type="tel" class="weui-input" name="edit_mobile" placeholder="输入手机号" v-model="edit_mobile"
                           style="line-height: 40px;"/>
                </div>
                <div class="weui-cell__ft" style="padding: 5px 0;"></div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input type="text" class="weui-input" name="sms_code" placeholder="输入短信验证码" v-model="sms_code"
                           style="line-height: 40px;"/>
                </div>
                <div class="weui-cell__ft">
                    <div class="yzmBtn" @click="getCode($event)" v-text="sms_codeText"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="btn" id="submit">提 交</div>
</section>
</body>
</html>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            edit_mobile: '',     //手机号
            sms_code: '',     //验证码
            state: 0,    //是否点击获取验证码按钮
            sms_codeText: '获取验证码',    //验证码文字
            times: 10,    //倒计时
        },
        methods: {
            //点击获取验证码
            getCode: function (evt) {
                var self = this;
                if (self.state === 0) {    //未点击
                    if (!testTel(self.edit_mobile)) {
                        $.toast('请输入正确的手机号', "cancel");
                        return
                    }
                    self.state = 1;
                   request({
                       url:"{:url('user/sendCode')}",
                       data:{mobile:app.edit_mobile},
                       success:function (data) {
                           if(data.code){
                               self.setTime();
                           }else{
                               self.state = 0;
                           }
                          setTimeout(function () {
                              $.toast(data.msg,data.code?"":"cancel");
                          },50)
                       }
                   });
                }
            }
        }
    });



    function setTime() {
        if (app.times < 1) {
            app.yzmText = "获取验证码";
            app.times = 10;
            app.state = 0;
        } else {
            app.times--;
            app.yzmText = app.times + "秒后重新获取";
            setTimeout(function () {
                setTime();
            }, 1000)
        }
    }

    $("#submit").on('click',function () {
       let data = $("#formData").formData();

       if (!testTel(data.edit_mobile)){
           $.toast('请输入正确的手机号', "cancel");
           return false;
       }
       if (!data.sms_code.length){
           $.toast('验证码不能为空', "cancel");
           return false;
       }
       request({
            data:data
       });

    });

    $(function () {

    })

</script>





