<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>销售经理登录 - 鼎德商砼</title>
	    <link rel="stylesheet" href="__TMPL__/public/assets/user/lib/weui/jquery-weui.css" />
	    <link rel="stylesheet" href="__TMPL__/public/assets/user/lib/weui/weui.min.css" />
	    <link rel="stylesheet" href="__TMPL__/public/assets/user/css/public.css" />
	    <link rel="stylesheet" href="__TMPL__/public/assets/user/css/style.css" />
	    <script type="text/javascript" src="__TMPL__/public/assets/user/lib/jq/jquery-1.10.2.js" ></script>
	    <script type="text/javascript" src="__TMPL__/public/assets/user/lib/weui/jquery-weui.js" ></script>
	    <script type="text/javascript" src="__TMPL__/public/assets/user/js/v.min.js" ></script>
	    <script type="text/javascript" src="__TMPL__/public/assets/user/js/common.js?_=1" ></script>
	</head>
	<style>
		body .weui-vcode-btn.getCode.active{ color: #ccc;}
		body .weui-vcode-btn.getCode{ color: #4c7db2;}
		body .weui-vcode-btn{ font-size: 1rem;}
	</style>
	<body>
		<section id="app" class="loginSec">
			<form action="{:url('login/loginPost')}" id="login_form">
				<div class="logo">
					<img src="__TMPL__/public/assets/user/img/logo.png" />
					<div>鼎德商砼</div>
					<div style="font-size: 13px; font-weight: normal;">销售经理端</div>
				</div>
				<div class="inputBox">
					<div class="bold">手机号</div>
					<div class="input">
						<input type="tel" name="mobile" v-model="mobile" value="" maxlength="11" pattern="[0-9]" placeholder="请输入手机号"/>
						<i></i>
					</div>
				</div>
				<div class="inputBox">
					<div class="bold">密码</div>
					<div class="input disbox">
						<input type="password" value="" v-model="password" name="password" maxlength="20" pattern="[0-9]" class="disflex" placeholder="请输入密码"/>
						<i></i>
					</div>
				</div>
				<div class="btn" style="margin-top: 4rem;cursor: pointer">登 录</div>
			</form>
		</section>
	</body>
</html>
<if condition="input('state')=='loginOut'">
	<script>
        var userKey = "sales_auth";
        cache(userKey,null);
	</script>
</if>
<script>
    var userKey = "sales_auth";
    var auth = cache(userKey);

    if (auth){
        request({
            url:"{:url('sales/login/index')}",
            data:{auth:auth},success:function (result) {
                if ( result.code){
                   window.location=result.url;
                }
            }
        })
    }
	var app = new Vue({
		el:'#app',
		data:{
			mobile:'',    //手机号
            password:'',    //验证码
		}
	});

	$("div.btn").on("click",function () {
	    let form = $("#login_form");
		let data = form.formData();

        if( data.mobile.length<1){
            $.toast(" 请输入账号！",'cancel');
            return false;
        }
        if( data.password.length<1){
            $.toast(" 请输入密码！",'cancel');
            return false;
        }


        if(!(/^(13|14|15|17|18|19)[0-9]{9}$/.test(data.mobile))){
            $.toast("请输入正确的账号!",'cancel');
            return false;
        }

        request({
			data:data,
            done:function (result) {
                result.code && cache(userKey,result.data)
            }
		})
    })
</script>





